{% extends 'shipment_track/shipment_base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
    <script type="text/javascript">
        var addButton_img_url = "{% static 'shipment_track/img/iconic-plus.svg' %}";

        var submit_url = "{% url 'shipment_track:submit_tracking_ajax' %}",
            get_data_url = "{% url 'shipment_track:get_tracking_data_ajax' %}",
            get_types_url = "{% url 'shipment_track:get_types_ajax' %}",
            postAjax_url = "{% url 'shipment_track:postAjaxCommand' %}";
    </script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <script type="text/javascript" src="{% static 'shipment_track/js/tablejs.js' %}"></script>
    <script type="text/javascript" src="{% static 'shipment_track/js/inputpage_io.js' %}"></script>
    <script type="text/javascript" src="{% static 'shipment_track/js/controller.js' %}"></script>

    <link rel="stylesheet" href="{% static 'shipment_track/css/input_page.css' %}" />

    <title>Tracking Shipments</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1>
        {% trans "Tracking Input" %}
    </h1>
    {% csrf_token %}
    <form id="tracking-form" name="trackingForm">
        <div class="form-row">
            <div id="type-div" class="form-group col-md-1">
                <label for="typeSelect">{% trans "Type" %}</label> 
                <span id="addTypeButton-span"></span>
                <div id="type-input-div">
                    <select class="form-control" name="trackingType" id="typeSelect"></select>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="trackingNumInput">{% trans "Tracking #" %}</label>
                <input type="text" class="form-control" name="trackingNumber" id="trackingNumInput" placeholder="{% trans 'Tracking #' %}">
            </div>

            <div class="form-group">
                <label for="noteTextarea">{% trans "Note" %}</label>
                <textarea class="form-control" id="noteTextarea" cols="35" rows="1" name="note"></textarea>
            </div>

            <!-- Date Input Not Used by JS Yet
            <div class="form-group col-md-2">
                <label>{% trans "Date" %}</label>
                <input type="date" class="form-control">
            </div> -->
        </div>
        
        <div class="form-row">
            <div>
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </div>
            <div>
                <button type="button" id="exportCSVButton" class="btn btn-secondary">{% trans 'Create CSV' %}</button>
            </div>
        </div>
        
    </form>
    <div id="tracking-list-container"></div>
    </div>
{% endblock %}