{% load i18n %}
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript">
        var addButton_img_url = "{% static 'shipment_track/img/iconic-plus.svg' %}",
            xButton_img_url = "{% static 'shipment_track/img/x.svg' %}";

        var submit_url = "{% url 'shipment_track:submit_tracking_ajax' %}",
            get_data_url = "{% url 'shipment_track:get_tracking_data_ajax' %}",
            get_types_url = "{% url 'shipment_track:get_types_ajax' %}";
    </script>

    <script type="text/javascript" src="{% static 'shipment_track/js/inputpage_io.js' %}"></script>
    <script type="text/javascript" src="{% static 'shipment_track/js/controller.js' %}"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="{% static 'shipment_track/css/input_page.css' %}" />

    <title>Tracking Shipments</title>
</head>
<body>
    <div class="container-fluid">
    <h1>
        {% trans "Tracking Input" %}
    </h1>
    {% csrf_token %}
    <form id="tracking-form" name="trackingForm">
        
        <div class="form-row">
            <div id="type-div" class="form-group col-md-1">
                <label for="typeSelect">{% trans "Type" %}</label> 
                <span id="addTypeButton-span"></span>
                <div id="type-input-div">
                    <select class="form-control" name="trackingType" id="typeSelect"></select>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="trackingNumInput">{% trans "Tracking #" %}</label>
                <input type="text" class="form-control" name="trackingNumber" id="trackingNumInput" placeholder="{% trans 'Tracking #' %}">
            </div>

            
            <!-- Date Input Not Used by JS Yet
            <div class="form-group col-md-2">
                <label>{% trans "Date" %}</label>
                <input type="date" class="form-control">
            </div> -->
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="noteTextarea">{% trans "Note" %}</label>
                <textarea class="form-control" id="noteTextarea" cols="35" rows="2" name="note"></textarea>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <div id="tracking-list-container"></div>
    </div>
</body>
</html>