{% extends 'shipment_track/shipment_base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
<title>{% trans "Search Tracking #'s'" %}</title>

<script type="text/javascript">
    var get_data_url = "{% url 'shipment_track:get_tracking_data_ajax' %}",
        get_types_url = "{% url 'shipment_track:get_types_ajax' %}",
        postAjax_url = "{% url 'shipment_track:postAjaxCommand' %}";
</script>

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

<script type="text/javascript" src="{% static 'shipment_track/js/tablejs.js' %}"></script>
<script type="text/javascript" src="{% static 'shipment_track/js/controller.js' %}"></script>
<script type="text/javascript" src="{% static 'shipment_track/js/search_io.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>
            {% trans 'Search' %}
        </h1>
        {% csrf_token %}
        <form id="search-form" name="searchForm">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="trackingNumInput">{% trans "Tracking #" %}</label>
                    <input type="text" class="form-control" name="trackingNumber" id="trackingNumInput" placeholder="{% trans 'Tracking #' %}">
                </div>
                <div id="type-div" class="form-group col-md-2">
                    <label for="typeSelect">{% trans "Type" %}</label> 
                    <span id="addTypeButton-span"></span>
                    <div id="type-input-div">
                        <select class="form-control" name="trackingType" id="typeSelect"></select>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="startDate">Start date:</label>
                    <input class="form-control" type="date" id="startDate" name="startDate">
                </div>
                <div class="form-group">
                    <label for="endDate">End date:</label>
                    <input class="form-control" type="date" id="endDate" name="endDate">
                </div>
            </div>
    
            <div class="form-row">
                <div>
                    <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
                </div>
                <div>
                    <button type="button" id="exportCSVButton" class="btn btn-secondary">{% trans 'Create CSV' %}</button>
                </div>
            </div>
            
        </form>
    </div>

    <div id="tracking-list-container"></div>
{% endblock %}