a:hover {
    text-decoration: none;
}

.right-sidebar {
    position: fixed;
    top: 30px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    overflow-y: auto;
}

.table-fit{
    width: auto;
}

li.sidebar-li {
    display: block;
}

li.sidebar-li > a {
    display: block;
    color: #99979c;
    padding: .125rem 1.5rem;
}

li.sidebar-li > a:hover{
    color: blue;
    text-decoration: none;
}

ul.section-nav {
    padding-left: 1rem;
}

#display-msg-div {
    position: absolute;
    top: 5%;
    left: 75%;
    height: 90%;
    width: 24%;
    z-index: 900;
    overflow-y: auto;
}

#display-msg-text {
    white-space: normal;
}

.underline {
    text-decoration: underline;
}

#data-table > thead  {
    cursor: pointer;
 }

.multiple-rcv-div {
    display: none;
}

.mousePoint {
    cursor: pointer;
}

td {
    white-space:pre;
}

.menubar-side {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem 0px 0px 0px;
    list-style: none;
    border-right: 2px solid #ccc;
    background-color: #7B7B7C;
    overflow-y: auto;
    z-index: 1020;

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}
.menubar-side > li:first-child {
    border-top: 1px #e5e5e5 solid;
}
.menubar-side-item {
    padding: 1rem 0;
    margin: 0;
    height: 4rem;
    border-bottom: 1px #e5e5e5 solid;
}
.menubar-side > li >a:hover, .menubar-side > li >a:focus {
    color: #CCC;
    text-decoration: none;
}

.reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #ccc;
    opacity: 0.6;
    z-index: 1010;
}