{% extends 'warehouse_viewer/viewer_base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'warehouse_viewer/css/viewer.css' %}" />
<script type="text/javascript" src="{% static 'warehouse_viewer/js/viewer/side_menu.js' %}"></script>
<script type="text/javascript" src="{% static 'warehouse_viewer/js/viewer/viewer.js' %}"></script>
<script type="text/javascript">
    var ates_ajax_url = "{% url 'warehouse_data:get_dates' %}";
</script>
{% endblock %}

{% block settings %}
<form action="{% url 'warehouse_viewer:search_ajax' %}" method="get" id="side-menu-form">
    {% csrf_token %}
    <div class="form-group">
        <select class="form-control" id="data-mode" name="mode">
            <option value="map">{% trans "Map" %}</option>
            <option value="chart" selected>{% trans "Chart" %}</option>
            <option value="graph">{% trans "Graph" %}</option>
        </select>
    </div>
    <div id="mode-settings-div"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block content %}
{% endblock %}