{% extends 'warehouse_viewer/viewer_base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'warehouse_viewer/css/viewer.css' %}" />

<script type="text/javascript" src="{% static 'warehouse_viewer/js/viewer/side_menu.js' %}"></script>
<script type="text/javascript" src="{% static 'warehouse_viewer/js/viewer/viewer_processor.js' %}"></script>
<script type="text/javascript" src="{% static 'warehouse_viewer/js/viewer/viewer.js' %}"></script>
<script type="text/javascript" src="{% static 'warehouse_viewer/js/viewer/load_viewer.js' %}"></script>
<script type="text/javascript">
    var dates_ajax_url = "{% url 'warehouse_data:get_dates' %}";
</script>

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock %}

{% block settings %}
<form action="{% url 'warehouse_viewer:search_ajax' %}" method="get" id="side-menu-form">
    {% csrf_token %}
    <div class="form-group">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-secondary">
                <input type="radio" name="mode" autocomplete="off" value="map"> {% trans 'Map' %}
            </label>
            <label class="btn btn-secondary active">
                <input type="radio" name="mode" autocomplete="off" value="chart" checked> {% trans 'Chart' %}
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="mode" autocomplete="off" value="graph"> {% trans 'Graph' %}
            </label>
        </div>
    </div>
    <div id="mode-settings-div"></div>
    <button type="submit" class="btn btn-primary" id="submit-button">{% trans 'Submit' %}</button>
</form>
{% endblock %}

{% block content %}
<div id="display-container"></div>
{% endblock %}