{% extends 'p_site/base_generic.html' %}

{% load i18n %}
{% load static %}

{% block generic_page_head %}
{% endblock %}

{% block navbar_links %}
<li class="nav-item">
    <a href="{% url 'warehouse_viewer:index' %}">{% trans "Home" %}</a></li>
<li class="nav-item">
    <a href="{% url 'warehouse_viewer:adv_search' %}" >{% trans "Search" %}</a></li>
<li class="nav-item">
    <a href="{% url 'warehouse_viewer:upload' %}">{% trans "Upload Excel" %}</a></li>
{% block viewer_navbar_links %}{% endblock viewer_navbar_links%}

{% endblock %}


{% block home_link %}{% endblock %}
{% block sidebar_links %}{% endblock %}