.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#message-box {
    display:box;
    width:100%;
    height: 40px;
}

#set-lang-div {
    position: absolute;
    top: 0;
    right: 5;
}