.sidebar-nav {
    padding: 0;
    list-style: none;
}

.change-lang-but {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}
.change-lang-but:focus {
  outline: none;
}

.navbar {  min-height:28px;  }
.navbar .navbar-brand {  padding: 5px 10px;  margin: 0; height: 30px}
.navbar .navbar-nav > li > a { padding-top: 0px; padding-bottom: 0px; }
.navbar-nav li { list-style-type: none; }