{% extends 'warehouse_map/warehouse_map_base.html' %}

{% load i18n %}

{% block content %}

{% load static %}
{% csrf_token %}
<script type="text/javascript">
    var csrftoken = jQuery('[name=csrfmiddlewaretoken]').val();

    var request_grid_url = "{% url 'warehouse_map:request_grid_map_ajax' %}",
        date_ajax_url = "{% url 'warehouse_map:request_date_ajax' %}",
        map_search_info_url = "{% url 'warehouse_map:request_map_search_info' %}";
</script>

<script src="{% static 'warehouse_map/js/map.js' %}"></script>
<script src="{% static 'warehouse_map/js/map_ajax.js' %}"></script>

<canvas id="map_canvas">{% trans "Your internet browser doesn't support HTML canvas. Please use another one." %}</canvas>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'warehouse_map/css/warehouse_map.css' %}" />
{% endblock %}

{% block settings %}
<li>
    <a class="nav-item" href="#setting" data-toggle="collapse" aria-expanded="false" aria-controls="setting">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </a>
</li>
<hr>

<form action="" method="get">
    <div class="form-group">
        <label for="data-type-select">Data Type</label>
        <select class="form-control" id="data-type-select"></select>
    </div>

    <div class="form-group">
        <label for="level-input">Level</label>
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" id="minus-level" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
            </span>
            <select class="form-control" id="level-select"></select>
            <span class="input-group-btn">
                <button type="button" id="plus-level" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="date-select">Date</label>
        <select class="form-control" id="date-select"></select>
    </div>

    <div class="form-group" id="date-select-2-div" hidden="true">
        <label for="date-select-2">Previous Date</label>
        <select class="form-control" id="date-select-2"></select>
    </div>

    <button type="submit" id="map-submit-button" class="btn btn-primary">Search</button>
</form>
{% endblock %}

{% block settings_bar %}
    <div class="collapse" id="setting">
        <div class="bg-white p-4">
            <h4 class="">HELLO</h4>
        </div>
    </div>
{% endblock %}