{% extends 'warehouse_map/warehouse_map_base.html' %}

{% load i18n %}

{% block content %}

{% load static %}
<script type="text/javascript">
    var request_grid_url = "{% url 'warehouse_map:request_grid_map_ajax' %}";
</script>

<script src="{% static 'warehouse_map/js/map.js' %}"></script>

<canvas id="map_canvas">{% trans "Your internet browser doesn't support HTML canvas. Please use another one." %}</canvas>
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'warehouse_map/css/warehouse_map.css' %}" />
{% endblock %}


{% block settings %}
<li>
    <a class="nav-item" href="#setting" data-toggle="collapse" aria-expanded="false" aria-controls="setting">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </a>
</li>
<hr>

<form action="" method="get">
    <div class="form-group">
        <label for="level-input">Level</label>
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" id="minus-level" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
            </span>
            <select class="form-control" id="level-select"></select>
            <span class="input-group-btn">
                <button type="button" id="plus-level" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>

</form>
{% endblock %}

{% block settings_bar %}
    <div class="collapse" id="setting">
        <div class="bg-white p-4">
            <h4 class="">HELLO</h4>
        </div>
    </div>
{% endblock %}