{% extends 'warehouse_map/warehouse_map_base.html' %}

{% load i18n %}

{% block content %}

{% load static %}
<script type="text/javascript" src="{% static 'warehouse_map/js/upload_page.js' %}"></script>

<form action="{% url 'warehouse_map:upload_excel_data' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        {{ upload_form.as_table }}
    </table>

    <p><input type="submit" value="{% trans 'Upload' %}" /></p>
</form>

Dates Uploaded:
<ul class="list-group" id="upload-ul">
    {% for date_inst in date_inst_list %}
    <li class="list-group-item upload-dates-li">{{ date_inst.date }}</li>
    {% endfor %}
</ul>

{% endblock %}