{% extends 'warehouse_map/warehouse_map_base.html' %}

{% load i18n %}

{% block content %}

{% load static %}

<form action="{% url 'warehouse_map:upload_excel_data' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        {{ upload_form.as_table }}
    </table>

    <p><input type="submit" value="{% trans 'Upload' %}" /></p>
</form>

Dates Uploaded:
<ul>
    {% for date_inst in date_inst_list %}
    <li>{{ date_inst.date }}</li>
    {% endfor %}
</ul>

{% endblock %}