{% extends 'warehouse_map/base_generic.html' %}

{% load i18n %}

{% block generic_page_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'warehouse_map/css/warehouse_map.css' %}" />
{% endblock %}

{% block home_link %}
<li><a href="{% url 'warehouse_map:index' %}">{% trans "Map Home" %}</a>
{% endblock %}


{% block sidebar_links %}
<li><a href="{% url 'warehouse_map:upload_excel_data' %}">{% trans "Upload Excel" %}</a></li>
<li><a href="{% url 'warehouse_map:get_info' %}">Get Info</a></a></li>

{% endblock %}