{% extends 'base_generic.html' %}

{% load i18n %}

{% block head %}
    {% load static %}
{% endblock %}

{% block home_link %}
<a href="{% url 'customs_list:index' %}">Home</a>
{% endblock %}

{% block sidebar_links %}
<li><a href="{% url 'customs_list:upload' %}">{% trans "Upload Customs Declaration" %}</a></li>
<li><a href="{% url 'customs_list:view_all_customs' %}">{% trans "View All PDFS" %}</a></li>
<li><a href="{% url 'customs_list:edit_list' %}">{% trans "View To-Edit Files" %}</a></li>
{% endblock %}

