{% extends 'customs_list/customs_list_base.html' %}

{% load i18n %}

{% block head %}
    {% load static %}

{% endblock %}

{% block content %}

<form action="{% url 'customs_list:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ uploadform.non_field_errors }}</p>
    <p>{{ rcvform.rcvfile.help_text }}</p>
    <p>
        {{ uploadform.customs_file.errors }}
    </p>

    {{ uploadform.as_p }}

    <p><input type="submit" value="{% trans 'Upload' %}" /></p>
</form>

{% endblock %}