{% extends 'customs_list/customs_list_base.html' %}

{% block content %}

{% load i18n %}

{% load static %}

{% if customs_list %}
<ul>
    {% for customs_decl in customs_list %}
    <li>
        <a href="{% url 'customs_list:download' customs_decl %}">{{ customs_decl }}</a>
        <div id="{{ customs_decl.filename }}-add_links-div">
            <a href="{% url 'customs_list:view' customs_decl %}" target="_new">view</a>
        </div>

    </li>
    {% endfor %}
</ul>

{% else %}
    {% trans "No customs declaration notes have been uploaded." %}
{% endif %}

{% endblock %}