{% extends 'customs_list/customs_list_base.html' %}

{% load i18n %}

{% block content %}

{% trans "Year:" as year_trans %}
{% trans "Month:" as month_trans %}
{% trans "Day:" as day_trans %}

{% if year_dic %}

    <ul>
    {% for year, month_list in year_dic.items %}
        <p>{% trans "Year:" %} <a href="{% url 'customs_list:view_by_date' year %}">{{ year }}</a>
        <p>{% trans "Month:" %}</p></p>
        {% for month in month_list %}
            <li><a href="{% url 'customs_list:view_by_date' year month %}">{{ month }}</a></li>
        {% endfor %}

    {% endfor %}
    </ul>
{% elif day_list %}
    <p>{% trans "Year:" %} <a href="{% url 'customs_list:view_by_date' %}">{{ year }}</a> {% trans "Month:" %} <a href="{% url 'customs_list:view_by_date' year %}">{{ month }}</a></p>
    <p>{% trans "Day:" %}</p>
    <ul>
    {% for day in day_list %}
    <li><a href="{% url 'customs_list:view_by_date' year month day %}">{{ day }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}