{% extends 'customs_list/customs_list_base.html' %}

{% block content %}

{% load i18n %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/customs_view_styles.css' %}">
<script src="{% static 'js/customs-decl-view.js' %}"></script>

{% if customs_list %}
<ul>
    {% for customs_decl in customs_list %}
    <li id="{{ customs_decl }}-li" class="customs-li">
        <a href="{% url 'customs_list:view' customs_decl %}" target="_new">{{ customs_decl }}</a>
        <div class="customs-add-link-hide" id="{{ customs_decl }}-cust-add-link-div">
            <a href="{% url 'customs_list:download' customs_decl %}">Download</a>
            <a id="{{ customs_decl }}-delete-link" class="cust-add-link-delete">delete</a>
        </div>

    </li>
    {% endfor %}
</ul>

{% else %}
    {% trans "No customs declaration notes have been uploaded." %}
{% endif %}

{% endblock %}