{% extends 'customs_list/customs_list_base.html' %}

{% load i18n %}

{% block content %}

{% trans "Year:" as year_trans %}
{% trans "Month:" as month_trans %}
{% trans "Day:" as day_trans %}

{% if year_list %}
    <p>{% trans year_trans %}</p>
    <ul>
    {% for year in year_list %}
    <li><a href="{% url 'customs_list:view_by_date' year %}">{{ year }}</a></li>
    {% endfor %}
    </ul>
{% elif month_list %}
    <p>{% trans year_trans %} <a href="{% url 'customs_list:view_by_date' %}">{{ year }}</a></p>
    <p>{% trans month_trans %}</p>
    <ul>
    {% for month in month_list %}
    <li><a href="{% url 'customs_list:view_by_date' year month %}">{{ month }}</a></li>
    {% endfor %}
    </ul>
{% elif day_list %}
    <p>{% trans year_trans %} <a href="{% url 'customs_list:view_by_date' %}">{{ year }}</a> {% trans month_trans %} <a href="{% url 'customs_list:view_by_date' year %}">{{ month }}</a></p>
    <p>{% trans day_trans %}</p>
    <ul>
    {% for day in day_list %}
    <li><a href="{% url 'customs_list:view_by_date' year month day %}">{{ day }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}