{% extends 'customs_list/customs_list_base.html' %}

{% block content %}

{% load i18n %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/customs_view_styles.css' %}">
<script src="{% static 'js/customs-decl-view.js' %}"></script>

{% if year and month and day %}

<p><a href="{% url 'customs_list:download_zip_by_date' year month day %}">{% trans "Download All Pdf Files" %}</a></p>

<p>
{% trans "Year:" %} <a href="{% url 'customs_list:view_by_date' %}">{{ year }}</a>
{% trans "Month:" %} <a href="{% url 'customs_list:view_by_date' year %}">{{ month }}</a>
{% trans "Day:" %} <a href="{% url 'customs_list:view_by_date' year month %}">{{ day }}</a>
</p>

{% endif %}

{% if customs_list %}
<ul>
    {% for customs_decl in customs_list %}
    <li id="{{ customs_decl }}-li" class="customs-li">
        <a href="{% url 'customs_list:view' customs_decl.filename %}" target="_new">{{ customs_decl }}</a>
        <div class="customs-add-link-hide" id="{{ customs_decl.filename }}-cust-add-link-div">
            <a href="{% url 'customs_list:download' customs_decl.filename %}">{% trans "download" %}</a>
            <a href="{% url 'customs_list:edit' customs_decl.filename %}">{% trans "edit" %}</a>
            <a id="{{ customs_decl.filename }}-delete-link" class="cust-add-link-delete">{% trans "delete" %}</a>
        </div>

    </li>
    {% endfor %}
</ul>

{% else %}
    {% trans "No customs declaration notes have been uploaded." %}
{% endif %}

{% endblock %}