{% extends 'customs_list/customs_list_base.html' %}

{% load i18n %}

<ul>
{% block content %}
{% if year_list %}
    {% for year in year_list %}
    <li><a href="{% url 'customs_list:view_by_date' year %}">{{ year }}</a></li>
    {% endfor %}
{% elif month_list %}
    {% for month in month_list %}
    <li><a href="{% url 'customs_list:view_by_date' year month %}">{{ month }}</a></li>
    {% endfor %}
{% elif day_list %}
    {% for day in day_list %}
    <li><a href="{% url 'customs_list:view_by_date' year month day %}">{{ day }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}