.right-sidebar {
    position: fixed;
    top: 30px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    overflow-y: auto;
}

.table-fit{
    width: auto;
}

sidebar-li {
    display:block
}

li.sidebar-li {
    display: block;
}

li.sidebar-li > a {
    display: block;
    color: #99979c;
}

li.sidebar-li > a:hover{
    color: blue;
    text-decoration: none;
}