{% extends 'inventory_tracker/inventory_tracker_base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
<script type="text/javascript" src={% static 'inventory_tracker/js/create_inv.js' %}></script>
<link rel="stylesheet" type="text/css" href="{% static 'inventory_tracker/css/create_inv.css' %}">

<script type="text/javascript" src={% static 'inventory_tracker/js/inv_ajax.js' %}></script> 

<script>
    var get_payment_url = "{% url 'inventory_tracker:get-payment-ajax' %}",
        get_department_url = "{% url 'inventory_tracker:get_department_ajax' %}",
        create_purchase_url = "{% url 'inventory_tracker:create_purchase_ajax' %}",
        view_payments_url = "{% url 'inventory_tracker:index-blank' %}";
</script>
{% endblock %}

{% block body %}

<form id="create-inv-form" method="POST" action="{% url 'inventory_tracker:create_purchase_ajax' %}" 
    enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="order-num-input">Order Number</label>
            <input type="text" class="form-control" id="order-num-input" name="orderNumber" 
                max_length=50 required>
        </div>

        <div class="form-group col-md-2">
            <label for="total-input" class="">Total</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">$</span>
                </div>
                <input type="number" class="form-control" id="total-input" name="total" step ="0.01" 
                    max=999999999.99 required>
            </div>
        </div>

        <div class="form-group col-md-2">
            <label for="purchase-date-input" class="">Purchase Date</label>
            <input type="date" class="form-control" id="purchase-date-input" name="purchaseDate" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col-md-2">
            <label for="payment-select">Payment</label>
            <select class="custom-select" id="payment-select" name="payment" required></select>
        </div>
        
        <div class="form-group col-md-2">
            <label for="vendor-input">Vendor</label>
            <input type="text" class="form-control" id="vendor-input" name="vendor" 
                maxlength=50 required></select>
        </div>

        <div class="form-group col-md-2">
                <label for="department-select">Department</label>
                <select class="custom-select" id="department-select" name="department" required></select>
            </div>
        
    </div>

    <div class="form-group row">
        <label for="invoice-input" class="col-sm-2 col-lg-1 col-form-label">Invoice</label>
        <div class="col-sm-5 col-lg-3">
            <input type="file" class="custom-fil-input" id="invoice-input" 
                name="invoiceFile" accept="application/pdf" required>
        </div>
    </div>

    <input id="num-items-input" name="numItems" hidden value=0>

    <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
    <br><br>
    <button type="button" class="btn btn-secondary" id="add-item-button">Add Item</button>
    <button type="button" class="btn btn-secondary" id="del-item-button">Remove Item</button>

    <table id="items-table" class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Quantity</th>
                <th scope="col">Type</th>
                <th scope="col">Note</th>
            </tr>
        </thead>
        <tbody id="items-table-body"></tbody>
    </table>
</form>
{% endblock %}