{% extends 'inventory_tracker/inventory_tracker_base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
<script type="text/javascript" src={% static 'inventory_tracker/js/create_inv.js' %}></script> 
<link rel="stylesheet" type="text/css" href="{% static 'inventory_tracker/css/create_inv.css' %}">

<script>
    var get_payment_url = "{% url 'inventory_tracker:get-payment-ajax' %}",
        get_vendor_url = "{% url 'inventory_tracker:get_vendor_ajax' %}",
        get_department_url = "{% url 'inventory_tracker:get_department_ajax' %}";
</script>
{% endblock %}

{% block body %}
{% csrf_token %}
<form id="create-inv-form">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="order-num-input">Order Number</label>
            <input type="text" class="form-control" id="order-num-input" name="orderNum">
        </div>

        <div class="form-group col-md-2">
            <label for="total-input" class="">Total</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">$</span>
                </div>
                <input type="number" class="form-control" id="total-input" name="total">
            </div>
        </div>

        <div class="form-group col-md-2">
            <label for="purchase-date-input" class="">Purchase Date</label>
            <input type="date" class="form-control" id="purchase-date-input" name="purchaseDate">
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col-md-2">
            <label for="payment-select" class="col-sm-2 col-lg-1 col-form-label">Payment</label>
            <select class="custom-select" id="payment-select" name="payment"></select>
        </div>
        
        <div class="form-group col-md-2">
            <label for="vendor-select" class="col-sm-2 col-lg-1 col-form-label">Vendor</label>
            <select class="custom-select" id="vendor-select" name="vendor"></select>
        </div>

        <div class="form-group col-md-2">
                <label for="department-select" class="col-sm-2 col-lg-1 col-form-label">Department</label>
                <select class="custom-select" id="department-select" name="vendor"></select>
            </div>
        
    </div>

    <div class="form-group row">
        <label for="invoice-input" class="col-sm-2 col-lg-1 col-form-label">Invoice</label>
        <div class="col-sm-5 col-lg-3">
            <input type="file" class="custom-fil-input" id="invoice-input">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
    <br><br>
    <button type="button" class="btn btn-secondary" id="add-item-button">Add Item</button>

    <table id="items-table" class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Quantity</th>
                <th scope="col">Type</th>
                <th scope="col">Note</th>
            </tr>
        </thead>
        <tbody id="items-table-body"></tbody>
    </table>
</form>
{% endblock %}