{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'shipment_track/css/shipmentTrack_base.css' %}" />

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

    <script type="text/javascript" src={% static 'inventory_tracker/js/inv_ajax.js' %}></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">
                    <img alt="4PX-logo" src="{% static 'p_site/img/mini-logo.png' %}" id="logo-img"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'inventory_tracker:index-blank' %}">Home</a>
                <a class="nav-link" href="{% url 'inventory_tracker:view-payment' %}">Payment</a>
                <a class="nav-link" href="{% url 'inventory_tracker:view-dept' %}">Departments</a>
                <a class="nav-link" href="{% url 'inventory_tracker:view_items' %}">Search Items</a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}?next={{ request.path }}">
                            {% trans "Logout" %}</a> ({% trans "User" %}: {{ user.get_username }})
                    {% else %}
                        <a href="{% url 'login' %}?next={{ request.path }}">
                            {% trans "Login" %}</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <div id="set-lang-div">
                        {% csrf_token %}

                        {% if LANGUAGE_CODE == 'zh-hans' %}

                        <form method="POST" action="{% url 'set_language'%}" class="navbar-form">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="language" value="en">
                            简体中文 <input class="change-lang-but" type="submit" value="Eng"/>
                        </form>

                        {% else %}

                        <form method="POST" action="{% url 'set_language'%}" class="navbar-form">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="language" value="zh-hans">
                            <input class="change-lang-but" type="submit" value="简体中文" /> Eng
                        </form>

                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
    {% block body %}{% endblock %}
    </div>
</body>

</html>