{% extends 'rcv_list/rcv_list_base.html' %}

{% block content %}
<script src="{% static 'rcv_list/js/edit_page.js' %}"></script>

<p>{{ filename }}</p>

<form action="" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label>RCV name</label>
        <input type="text" class="form-control" id="rcv-name-input" value="RCV">
    </div>

    {% for page in page_list %}
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="checkbox{{ page }}" value="{{ page }}">{{ page }}
            </label>
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<div>
    <embed src="{% url 'rcv_list:view_rcv' filename %}" type="application/pdf" width="60%", height="600"></embed>
</div>

{% endblock %}