{% extends 'base_generic.html' %}

{% load i18n %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/rcv_list_styles.css' %}">
{% endblock %}

{% block home_link %}
<li><a href="{% url 'rcv_list:index' %}">RCV {% trans "Home" %}</a>
{% endblock %}

{% block sidebar_links %}
<li><a href="{% url 'rcv_list:edit_list' %}">{% trans "View To-Edit Files" %}</a></li>
<li><a href="{% url 'rcv_list:upload_files' %}">{% trans "Upload" %} RCV's</a></li>
<li><a href="{% url 'rcv_list:all_index' %}">{% trans "All" %} RCV's</a></li>
{% endblock %}

{% block precontent %}
<form type="get" action="{% url 'rcv_list:search_rcv' %}">
    <input type="text" name="search_box" placehold="RCV">
    <button id="search_submit" type="submit">Submit</button>
</form>
{% endblock %}