{% extends 'uploader/uploader_base.html' %}

{% load i18n %}

{% block content %}

{% load static %}

<script type="text/javascript" src="{% static 'uploader/js/view_files.js' %}"></script>
<link rel="stylesheet" href="{% static 'uploader/css/view_files.css' %}" />
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/rcv_list_styles.css' %}">-->

<!--{% trans "RCV List" as rcv_list_word %}-->
<!--{% trans "Year:" as year_word %}-->
<!--{% trans "Month:"  as month_word %}-->

<!--{% if year and month %}-->
<!--<p>-->
    <!--{% trans year_word %} <a href="{% url 'rcv_list:view_dates' %}">{{ year }}</a>-->
    <!--{% trans month_word %} <a href="{% url 'rcv_list:view_dates' %}">{{ month }}</a>-->
<!--</p>-->
<!--<p>{% trans 'Total Number of RCV:' %} {{ rcv_list|length }} </p>-->
<!--{% endif %}-->

<ul>
{% if filemanager_list %}

    <!--<script src="{% static 'js/index_page.js' %}"></script>-->

    {% for filemanager in filemanager_list %}
    <li>
        <a href="{% url 'uploader:download_file' filemanager.id %}" id="{{ filemanager }}-view-link" target="_new">{{ filemanager.name }}</a>
    </li>
    {% endfor %}
{% else %}
    <li>There are no files uploaded.</li>
{% endif %}
</ul>

<div class="menu-screen" id="menu-screen-container"></div>

<div class="overlay"></div>

{% endblock %}