.sidebar-nav {
    padding: 0;
    list-style: none;
}

body { padding-top: 40px; }

.change-lang-but {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}
.change-lang-but:focus {
  outline: none;
}

.navbar {  min-height:28px; padding-top: 0px; padding-bottom: 0px; }
.navbar-brand {  margin: 0; padding: 0px;}
.navbar-nav > li > a { padding-top: 0px; padding-bottom: 0px; }
.navbar .navbar-form .navbar-right { padding: 2px 5px; margin: 0; }

.p-2 { padding: 0px; }