{% extends 'base_generic.html' %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/p_list_styles.css' %}">
{% endblock %}

{% block content %}

<a href="{% url 'p_list:upload' %}">Upload</a>

{% csrf_token %}

<ul>
{% for rcv in rcv_list %}
    <li><a href="{% url 'p_list:download_rcv' rcv %}" class="rcv" id="{{ rcv }}-link">{{ rcv }}</a> <a  class='add-link-hide' id="{{ rcv }}-test">test</a></li>
{% endfor %}
</ul>

<script src="{% static 'js/index_page.js' %}"></script>

{% endblock %}