{% extends 'base_generic.html' %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/p_list_styles.css' %}">
{% endblock %}

{% block content %}

<a href="{% url 'p_list:upload' %}">Upload</a>


<ul>
{% for rcv in rcv_list %}
    <li id="{{rcv}}-li" class="rcv-li">
        <a href="{% url 'p_list:download_rcv' rcv %}" id="{{ rcv }}-link">{{ rcv }}</a>
        <div class=add-link-hide id={{rcv}}-add-links-div>
            <a id="{{ rcv }}-delete" class="add-link-delete">delete</a>
        </div>
    </li>
{% endfor %}
</ul>

<script src="{% static 'js/index_page.js' %}"></script>

{% endblock %}