{% extends 'p_list/p_list_base.html' %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/p_list_styles.css' %}">
{% endblock %}

{% block content %}

<form action="{% url 'p_list:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ rcvform.non_field_errors }}</p>
    <p>{{ rcvform.rcvfile.label_tag }} {{ rcvform.rcvfile.help_text }}</p>
    <p>
        {{ rcvform.rcvfile.errors }}
        {{ rcvform.rcvfile }}
    </p>
    <p><input type="submit" value="Upload" /></p>
</form>

{% if rcvs %}
    <ul>
    {% for rcv in rcvs %}
        <li><a href="{{ rcv.rcvfile.url }}">{{ rcv.filename }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}

{% endblock %}