{% extends 'base/base_generic.html' %}

{% load i18n %}

{% block title %}
Index
{% endblock %}


{% block content %}
{% load static %}

<div class="list-group">
    <a href="{% url 'warehouse_viewer:index' %}" class="index_links list-group-item list-group-item-action">
        {% trans "Warehouse Viewer" %}</a></a>
    <a href="{% url 'rcv_list:index' %}" class="index_links list-group-item list-group-item-action">
        {% trans "RCV List" %}</a>
    <a href="{% url 'warehouse_map:index' %}" class="index_links list-group-item list-group-item-action">
        {% trans "Warehouse Map (Outdated)" %}</a></a>
    <a href="{% url 'uploader:index' %}" class="index_links list-group-item list-group-item-action">
        {% trans "File Uploader" %}</a></a>
    <a href="{% url 'customs_list:index' %}" class="index_links list-group-item list-group-item-action">
        {% trans "Customs Declaration List" %}</a>
</div>

{% endblock %}